.metrics {
  padding-right: 60px;
  margin: 0;
}

.nav-options {
  margin-bottom: 40%;
}

.navigation h6 {
  color: white;
  font-size: 19px;
}

.control {
  margin-right: 70px;
}
.formularios {
  padding-right: 30px;
  margin-top: 40px;
  height: 180px;
  margin-left: 10px;
  width: 47%;
  background-color: white;
  border-radius: 15px;

  hr {
    position: relative;
    top: 10px;
    border: none;
    height: 1px;
    background: rgb(190, 190, 190);
    width: 30em;
  }

  h5 {
    padding-top: 30px;
    line-height: 0px;
    padding-left: 50px;
  }

  .blue {
    color: #455d9e;
    font-size: small;
  }

  .light-blue {
    font-size: small;
    color: #457eac;
  }

  ul {
    padding-left: 30px;
  }
}

.ausentismo {
  margin-top: 40px;
  height: 180px;
  width: 305px;
  background-color: white;
  border-radius: 15px;

  hr {
    position: relative;
    top: 10px;
    border: none;
    height: 1px;
    background: rgb(190, 190, 190);
    width: 90%;
  }

  h5 {
    padding-top: 30px;
    line-height: 0px;
    text-align: left;
    padding-left: 30px;
  }
}

.haberes {
  margin-top: 40px;
  height: 180px;
  width: 305px;
  background-color: white;
  border-radius: 15px;

  hr {
    position: relative;
    top: 10px;
    border: none;
    height: 1px;
    background: rgb(190, 190, 190);
    width: 90%;
  }

  h5 {
    padding-top: 30px;
    line-height: 0px;
    text-align: left;
    padding-left: 30px;
  }
}

#vertical-hr {
  height: 88px;
  width: 1px;
  background: rgb(190, 190, 190);
  margin: 0;
}

.text-icon {
  font-size: 40px;

  h3 {
    font-size: 50px;
  }
}

.fa-bullhorn {
  color: #465995;
}

.fa-highlighter {
  color: #577fa3;
}

.ausentismo {
  h6 {
    font-size: large;
  }
}

.haberes {
  h6 {
    font-size: large;
  }
}
