.primary-container {
  background-color: #f4f7fb;
  margin: .5%;
  border-radius: 5%;
  height: 100%;
}

.navigation {
  background-color: #232c49;
  height: min-content;
  padding-top: 12%;
  padding-bottom: 20%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 18px;
}

.content-container {
  color: #6e6d72;
  margin-top: 2%;
  margin-left: 1.5%;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr {
  background-color: white;
}
